@if (User.Identity.IsAuthenticated)
{
    <span>Hello @User.Identity.Name!</span>
    <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
}
else
{
    <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
} 